<div class="container main-container">
    <h2> Simple User Form </h2>
    <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
      <div class="field">
        <label class="label" for="firstName">First Name:</label>
        <div class="control">
          <input class="input" id="firstName" type="text"  formControlName="firstName"/>
        </div>
      </div>
      <div class="field">
        <label class="label" for="lastName">Last Name:</label>
        <div class="control">
          <input class="input" id="lastName" type="text"  formControlName="lastName"/>
        </div>
    </div>
    <div class="field">
      <label class="label" for="ssn">SSN:</label>
      <div class="control">
        <input class="input" id="ssn" type="text"  formControlName="ssn"/>
      </div>
    </div>
      <div class="field">
        <label class="label" for="eMail">e-Mail:</label>
        <div class="control">
          <input class="input" id="eMail" type="email"  formControlName="eMail"/>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password:</label>
        <div class="control">
          <input class="input" id="password" type="password"  formControlName="password"/>
        </div>
      </div>
      <div>
        <button type="submit" class="button" id="send">Save Info</button>
      </div>
    </form>
  </div>