<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Game Form</h1>
    </div>
  </div>
  <form [formGroup]="gameForm" (ngSubmit)="submitGameForm()">
    <div class="form-group">
      <label for="name" class="contol-label">Name</label>
      <div class="col-12">
        <input formControlName="name" type="text" name="name" id="name" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="japaneseName" class="contol-label">Japanese Name</label>
      <div class="col-12">
        <input formControlName="japaneseName" type="text" name="japaneseName" id="japaneseName" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="platform" class="contol-label">Platform</label>
      <div class="col-12">
        <input formControlName="platform" type="text" name="platform" id="platform" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="releaseDate" class="contol-label">Release Date</label>
      <div class="col-12">
        <input formControlName="releaseDate" type="text" name="releaseDate" id="releaseDate" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="colorTheme" class="contol-label">Main Color Theme</label>
      <div class="col-12">
        <input formControlName="colorTheme" type="text" name="colorTheme" id="colorTheme" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <input type="submit" value="Save Persona" class="btn btn-success">
      </div>
    </div>
  </form>
</div>