<div class="container main-container">
  <h2> Simple User Form </h2>
  <form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
    <div class="field">
      <label class="label" for="firstName">First Name:</label>
      <div class="control">
        <input class="input" id="firstName" type="text" formControlName="firstName"
          [ngClass]="{'is-danger': displayMessages.firstName}" />
      </div>
      <p class="help is-danger" *ngIf="displayMessages.firstName" [innerHTML]="displayMessages.firstName"></p>
    </div>
    <div class="field">
      <label class="label" for="lastName">Last Name:</label>
      <div class="control">
        <input class="input" id="lastName" type="text" formControlName="lastName"
          [ngClass]="{'is-danger': displayMessages.lastName}" />
      </div>
      <p class="help is-danger" *ngIf="displayMessages.lastName" [innerHTML]="displayMessages.lastName"></p>
    </div>
    <div class="field">
      <label class="label" for="ssn">SSN:</label>
      <div class="control">
        <input class="input" id="ssn" type="text" formControlName="ssn"
          [ngClass]="{'is-danger': displayMessages.ssn}" />
      </div>
      <p class="help is-danger" *ngIf="displayMessages.ssn" [innerHTML]="displayMessages.ssn"></p>
    </div>
    <div class="field">
      <label class="label" for="eMail">e-Mail:</label>
      <div class="control">
        <input class="input" id="eMail" type="email" formControlName="eMail"
          [ngClass]="{'is-danger': displayMessages.eMail}" />
      </div>
      <p class="help is-danger" *ngIf="displayMessages.eMail" [innerHTML]="displayMessages.eMail"></p>
    </div>
    <div class="field">
      <label class="label" for="password">Password:</label>
      <div class="control">
        <input class="input" id="password" type="password" formControlName="password"
          [ngClass]="{'is-danger': displayMessages.password}" />
      </div>
      <p class="help is-danger" *ngIf="displayMessages.password" [innerHTML]="displayMessages.password"></p>
    </div>
    <div>
      <button type="submit" class="button" id="send">Save Info</button>
    </div>
  </form>
</div>