<div class="container">
  <div class="row">
    <h1>Persona</h1>
  </div>
  <form [formGroup]="personaForm" (ngSubmit)="submitPersonaForm()">
    <div class="form-group">
      <label for="name" class="control-label">Name</label>
      <div class="col-12">
        <input type="text" name="name" id="name" class="form-control" formControlName="name">
      </div>
    </div>
    <div class="form-group">
      <label for="japaneseName" class="control-label">Japanese Name</label>
      <div class="col-12">
        <input type="text" name="japaneseName" id="japaneseName" class="form-control" formControlName="japaneseName">
      </div>
    </div>
    <div class="form-group">
      <label for="arcana" class="control-label">Arcana</label>
      <div class="col-12">
        <input type="text" name="arcana" id="arcana" class="form-control" formControlName="arcana">
      </div>
    </div>
    <div class="form-group">
      <label for="elements" class="control-label">Elements</label>
      <div class="col-12">
        <input type="text" name="elements" id="elements" class="form-control" formControlName="elements">
      </div>
    </div>
    <div class="form-group">
      <label for="debutGame" class="control-label">Debut Game</label>
      <div class="col-12">
        <input type="text" name="debutGame" id="debutGame" class="form-control" formControlName="debutGame">
      </div>
    </div>
    <div class="form-group">
      <div class="col-12">
        <input type="submit" value="Save Persona" class="btn btn-success">
      </div>
    </div>
  </form>
</div>